{% block paragraph %}

  <h3 class="panels__title py-4 border-t my-0 relative text-lg font-semibold flex cursor-pointer"{{ create_attribute({ 'id': attributes.id }) }}>
    <button class="text-left font-semibold flex-grow">{{ content.field_headline|field_value }}</button>
    <svg class="open flex-shrink-0 w-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <svg class="close flex-shrink-0 w-6 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </h3>
  <div role="region" class="panels__panel pb-6" aria-expanded="false">
    {{ content.field_text_column|field_value }}
  </div>

{% endblock paragraph %}
