// Initial styles for form elements.
@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [multiple],
  textarea,
  select {
    @apply appearance-none;
    @apply bg-white;
    @apply border;
    @apply border-grey-300;
    @apply rounded-none;
    @apply py-3;
    @apply px-4;
    @apply text-base;
  }

  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply outline-none;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    @apply text-grey-400;
    @apply opacity-100;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    @apply text-grey-400;
    @apply opacity-100;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-grey-400;
    @apply opacity-100;
  }

  select {
    @apply bg-no-repeat;
    @apply pr-10;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
  }

  [multiple] {
    @apply pr-3;

    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    print-color-adjust: unset;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply appearance-none;
    @apply p-0;
    @apply inline-block;
    @apply align-middle;
    @apply flex-shrink-0;
    @apply h-5;
    @apply w-5;
    @apply text-primary;
    @apply bg-white;
    @apply border;
    @apply border-grey-300;

    print-color-adjust: exact;
    background-origin: border-box;
    user-select: none;
  }

  [type="checkbox"] {
    @apply rounded-none;
  }

  [type="radio"] {
    border-radius: 100%;
  }

  [type="checkbox"]:focus,
  [type="radio"]:focus {
    @apply outline-none;
  }

  [type="checkbox"]:checked,
  [type="radio"]:checked {
    @apply border-transparent;
    @apply bg-current;
    @apply bg-center;
    @apply bg-no-repeat;

    background-size: 100% 100%;
  }

  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
  }

  [type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }

  [type="checkbox"]:checked:hover,
  [type="checkbox"]:checked:focus,
  [type="radio"]:checked:hover,
  [type="radio"]:checked:focus {
    @apply border-transparent;
    @apply bg-current;
  }

  [type="checkbox"]:indeterminate {
    @apply border-transparent;
    @apply bg-current;
    @apply bg-center;
    @apply bg-no-repeat;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    background-size: 100% 100%;
  }

  [type="checkbox"]:indeterminate:hover,
  [type="checkbox"]:indeterminate:focus {
    @apply border-transparent;
    @apply bg-current;
  }

  [type="file"] {
    @apply border-0;
    @apply rounded-none;
    @apply p-0;

    background: unset;
    border-color: inherit;
    font-size: unset;
    line-height: inherit;
  }

  [type="file"]:focus {
    outline: 1px auto -webkit-focus-ring-color;
  }

  /* Specific styles for editing media in the CMS. */
  /* stylelint-disable */
  drupal-media {
    .media-library-item__edit {
      @apply absolute;
      @apply top-2;
      @apply right-2;
      @apply inline-block;
      @apply cursor-pointer;
      @apply text-center;
      @apply rounded-sm;
      @apply font-bold;
      @apply leading-4;
      @apply appearance-none;

      color: #222330;
      background-color: #d4d4d8;
      font-family: sans-serif;
      padding: calc(0.25rem - 1px) calc(0.75rem - 1px);
      font-size: 0.79rem;

      &:hover {
        background-color: #c2c3ca;
      }
    }
  }
  /* stylelint-enable */
}
