@media screen and (min-width: 61rem) {
  .layout-region--node-main .layout-region__content,
  .layout-region--node-footer .layout-region__content {
    max-width: none !important;
  }
}

.horizontal-tabs {
  background: #fff;
}

.horizontal-tabs-list {
  font-size: 0.889rem;
}

.horizontal-tabs .horizontal-tab-button {
  min-width: 0 !important;
}

.paragraphs-subform {
  padding-right: 2.4rem;
}

.paragraphs-subform .claro-details__wrapper {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.paragraphs-subform .claro-details__wrapper .claro-details__wrapper {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.paragraph-type-label {
  font-weight: 600;
  font-size: 0.889rem;
}

/* Disable the table row weight drop-down. */
.paragraphs-tabs-wrapper .tabledrag-toggle-weight-wrapper {
  display: none;
}
