// Initial styles for a range of HTML elements.
@layer base {
  body {
    @apply leading-relaxed;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  dd,
  dl,
  hr,
  ul,
  ol,
  pre {
    @apply my-6;

    &:first-child {
      @apply mt-0;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  // Set a default style for links within the <main> section.
  // We're trying not to disturb the admin menus and main navigation.
  main {
    a {
      @apply border-b;

      &:hover {
        @apply border-dashed;
      }
    }
  }

  hr {
    @apply clear-both;
  }

  blockquote {
    @apply text-2xl;
    @apply leading-relaxed;
    @apply italic;
  }

  // Heading elements.
  h1 {
    @apply font-bold;
    @apply text-4xl;

    @screen lg {
      @apply text-5xl;
    }

    @screen xl {
      @apply text-6xl;
    }
  }

  h2 {
    @apply font-bold;
    @apply text-3xl;

    @screen lg {
      @apply text-4xl;
    }

    @screen xl {
      @apply text-5xl;
    }
  }

  h3 {
    @apply font-semibold;
    @apply text-2xl;

    @screen lg {
      @apply text-3xl;
    }

    @screen xl {
      @apply text-4xl;
    }
  }

  h4 {
    @apply font-semibold;
    @apply text-xl;

    @screen lg {
      @apply text-2xl;
    }

    @screen xl {
      @apply text-3xl;
    }
  }

  h5 {
    @apply font-semibold;
    @apply text-xl;
  }

  h6 {
    @apply font-semibold;
    @apply text-lg;
  }

  // List elements.
  ul {
    @apply pl-6;
    @apply list-disc;
  }

  ol {
    @apply pl-6;
    @apply list-decimal;
  }

  // Picture and image elements.
  picture {
    @apply block;
    @apply w-full;

    .image-cover & {
      @apply h-full;
    }

    img {
      @apply w-full;

      .image-cover & {
        @apply h-full;
        @apply object-cover;
      }
    }
  }

  figure {
    .media-image + figcaption {
      @apply italic;
      @apply text-sm;
      @apply mt-2;
    }
  }

  // Responsive video backgrounds. This assumes the videos are 16x9.
  .section-bg-video {
    .video-wrapper--file {
      @apply absolute;
      @apply w-full;
      @apply h-full;

      video {
        @apply absolute;
        @apply w-full;
        @apply h-full;
        @apply object-cover;
      }
    }

    .video-wrapper--remote {
      @apply absolute;
      @apply top-2/4;
      @apply left-2/4;
      @apply transform;
      @apply -translate-x-2/4;
      @apply -translate-y-2/4;

      @media (min-aspect-ratio: 16/9) {
        width: 177%;
        padding-top: 100%;
      }

      @media (max-aspect-ratio: 16/9) {
        width: 177.777vh;
        padding-top: 100vh;
      }

      iframe {
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply w-full;
        @apply h-full;
        @apply pointer-events-none;
      }
    }
  }
}
