{#
/**
 * @file
 * Theme override to display a header links region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div class="container mx-auto px-5 flex justify-between items-center">
    {{ content }}

    <button class="menu-open btn btn--secondary text-sm ml-4 lg:hidden" aria-expanded="false" aria-label="{{ 'Open the menu'|t }}">{{ 'Menu'|t }}</button>
  </div>
{% endif %}
