{#
/**
 * @file
 * Theme override to display a header links region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div class="container mx-auto px-5 flex justify-between items-center">
    {{ content }}

    {# Toggle button for opening mobile menu. See main-menu.js and main-menu.scss. #}
    <button class="menu-open w-10 ml-4 lg:hidden animated-hamburger" aria-expanded="false" aria-label="{{ 'Toggle the menu'|t }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
{% endif %}
