{% set content_classes = [
  'grid',
  'gap-10',
  'grid-cols-1',
  'sm:grid-cols-2',
  'lg:grid-cols-3',
] %}

<div class="container mx-auto">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <div{{ create_attribute({'class': content_classes}) }}>
    {% for row in rows %}
      {{ row.content }}
    {% endfor %}
  </div>
</div>
