{% set content_classes = [
  'flex',
  'flex-wrap',
  'justify-start',
  '-mx-5',
  '-mb-10',
] %}

{% set column_classes = [
  'w-full',
  'sm:w-6/12',
  'lg:w-4/12',
  'px-5',
  'pb-10',
  'flex',
] %}

<div class="container mx-auto">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <div{{ create_attribute({'class': content_classes}) }}>
    {% for row in rows %}
      <div{{ create_attribute({'class': column_classes}) }}>
        {{ row.content }}
      </div>
    {% endfor %}
  </div>
</div>
