@use "base/_font-face";

// Import Tailwind base/resets.
@use "base/_tailwind-base";

// Import our custom base partials.
// These are moved to the top of the CSS with the use of @layer base { ... }.
// See https://tailwindcss.com/docs/adding-base-styles#using-css
@use "base/_admin";
@use "base/_cookiesjsr";
@use "base/_elements";
@use "base/_forms";
@use "base/_layout";

// Import style partials (modules). These are imported before Tailwind
// components and utilities to allow this CSS to be overridden with a
// Tailwind class if needed.
@use "modules/_buttons";

// Import Tailwind components & utilities.
@tailwind components;
@tailwind utilities;

// Custom CSS variables.
:root {
  // Set variables to match the width of grid columns after accounting for gaps.
  // The size of the gap used (gap-10 = 2.5rem).
  $grid-gap: 2.5rem;

  // Two column basis.
  --one-of-two-cols: calc((100% - #{$grid-gap}) / 2 * 1);

  // Three column basis.
  --one-of-three-cols: calc((100% - (2 * #{$grid-gap})) / 3 * 1);
  --two-of-three-cols: calc((100% - (2 * #{$grid-gap})) / 3 * 2 + (1 * #{$grid-gap}));

  // Four column basis.
  --one-of-four-cols: calc((100% - (3 * #{$grid-gap})) / 4 * 1);
  --two-of-four-cols: calc((100% - (3 * #{$grid-gap})) / 4 * 2 + (1 * #{$grid-gap}));
  --three-of-four-cols: calc((100% - (3 * #{$grid-gap})) / 4 * 3 + (2 * #{$grid-gap}));
}
